version: '3.8'

services:
  postgresql:
    image: postgres:13-bullseye
    volumes:
      - ./synapse-data/matrix.example.com.log.config:/data/matrix.example.com.log.config
      - ./db/init-synapse-db.sh:/docker-entrypoint-initdb.d/init-synapse-db.sh
      - ./db/init-llng-db.sh:/docker-entrypoint-initdb.d/init-llng-db.sh
      - ./db/init-id-db.sh:/docker-entrypoint-initdb.d/init-id-db.sh
      - ./llng/lmConf-1.json:/llng-conf/conf.json
    environment:
      - POSTGRES_PASSWORD=synapse!!
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready']
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - 5432:5432
    networks:
      - test

  synapse-federation: &synapse_template
    image: matrixdotorg/synapse:v1.89.0
    volumes:
      - ./synapse-data:/data
      - ./nginx/ssl/ca.pem:/etc/ssl/certs/ca.pem
      - ./nginx/ssl/9da13359.0:/etc/ssl/certs/9da13359.0
    depends_on:
      - auth
    environment: 
      - UID=${MYUID}
      - VIRTUAL_PORT=8008
      - VIRTUAL_HOST=matrix.example.com
      - SYNAPSE_CONFIG_PATH=/data/homeserver-federation.yaml
    healthcheck:
      test: ["CMD", "curl", "-fSs", "http://localhost:8008/health"]
      interval: 10s
      timeout: 10s
      retries: 3
    networks:
      - test

  synapse-1:
    <<: *synapse_template
    environment: 
      - UID=${MYUID}
      - VIRTUAL_PORT=8008
      - VIRTUAL_HOST=matrix1.example.com
      - SYNAPSE_CONFIG_PATH=/data/homeserver1.yaml

  synapse-2:
    <<: *synapse_template
    environment: 
      - UID=${MYUID}
      - VIRTUAL_PORT=8008
      - VIRTUAL_HOST=matrix2.example.com
      - SYNAPSE_CONFIG_PATH=/data/homeserver2.yaml

  synapse-3:
    <<: *synapse_template
    environment: 
      - UID=${MYUID}
      - VIRTUAL_PORT=8008
      - VIRTUAL_HOST=matrix3.example.com
      - SYNAPSE_CONFIG_PATH=/data/homeserver3.yaml

  auth:
    image: yadd/lemonldap-ng-portal:2.16.1-bullseye
    volumes:
      - ./llng/lmConf-1.json:/var/lib/lemonldap-ng/conf/lmConf-1.json
      - ./llng/ssl.conf:/etc/nginx/sites-enabled/0000default.conf
      - ./nginx/ssl/auth.example.com.crt:/etc/nginx/ssl/auth.example.com.crt
      - ./nginx/ssl/auth.example.com.key:/etc/nginx/ssl/auth.example.com.key
    environment:
      - PORTAL=https://auth.example.com
      - VIRTUAL_HOST=auth.example.com
      - PG_SERVER=postgresql
    depends_on:
      postgresql:
        condition: service_healthy
    networks:
      - test

  annuaire:
    image: ldap
    build: ./ldap
    ports:
      - 389:389
    networks:
      - test

  federation-server:
    image: federation-server
    build:
      context: ../../../..
      dockerfile: ./packages/federation-server/Dockerfile
    volumes:
      - ./nginx/ssl/ca.pem:/etc/ssl/certs/ca.pem
      - ./federation-server/federation-server.conf:/etc/twake/federation-server.conf
    depends_on:
      synapse-federation:
        condition: service_started
      identity-server-1:
        condition: service_started
      identity-server-2:
        condition: service_started
      identity-server-3:
        condition: service_started
    environment:
      - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca.pem
      - VIRTUAL_PORT=3000
      - VIRTUAL_HOST=federation.example.com
    networks:
      - test

  identity-server-1: &identity-server-template
    image: identity-server
    build:
      context: ../../../..
      dockerfile: ./packages/federation-server/src/__testData__/identity-server/Dockerfile
    volumes:
      - ./nginx/ssl/ca.pem:/etc/ssl/certs/ca.pem
      - ./identity-server/conf/identity-server-1.conf:/etc/twake/identity-server.conf
    depends_on:
      annuaire:
        condition: service_started
      synapse-1:
        condition: service_started
      postgresql:
        condition: service_healthy
    environment:
      - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca.pem
      - VIRTUAL_PORT=3000
      - VIRTUAL_HOST=identity1.example.com
    networks:
      - test

  identity-server-2:
    <<: *identity-server-template
    depends_on:
      annuaire:
        condition: service_started
      synapse-2:
        condition: service_started
      postgresql:
        condition: service_healthy
    volumes:
      - ./nginx/ssl/ca.pem:/etc/ssl/certs/ca.pem
      - ./identity-server/conf/identity-server-2.conf:/etc/twake/identity-server.conf
    environment: 
      - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca.pem
      - VIRTUAL_PORT=3000
      - VIRTUAL_HOST=identity2.example.com
  
  identity-server-3:
    <<: *identity-server-template
    depends_on:
      annuaire:
        condition: service_started
      synapse-3:
        condition: service_started
      postgresql:
        condition: service_healthy
    volumes:
      - ./nginx/ssl/ca.pem:/etc/ssl/certs/ca.pem
      - ./identity-server/conf/identity-server-3.conf:/etc/twake/identity-server.conf
    environment:
      - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca.pem
      - VIRTUAL_PORT=3000
      - VIRTUAL_HOST=identity3.example.com

  nginx-proxy:
    image: nginxproxy/nginx-proxy
    ports:
      - 443:443
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx/ssl:/etc/nginx/certs
    networks:
      test:
        aliases:
          - matrix.example.com
          - matrix1.example.com
          - matrix2.example.com
          - matrix3.example.com
          - auth.example.com
          - federation.example.com
          - identity1.example.com
          - identity2.example.com
          - identity3.example.com

networks:
  test:
    name: test