{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "experimentalOperatorPosition": "start",
  "experimentalTernaries": true,
  "jsxSingleQuote": true,
  "objectWrap": "collapse",
  "proseWrap": "always",
  "quoteProps": "consistent",
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "trailingComma": "all"
}
