version: '3.8'

networks:
  twake_chat:

services:
  postgresql:
    image: postgres:13-bullseye
    container_name: postgresql-tom
    volumes:
      - ./synapse-data/matrix.example.com.log.config:/data/matrix.example.com.log.config
      - ./db/init-synapse-db.sh:/docker-entrypoint-initdb.d/init-synapse-db.sh
      - ./db/init-llng-db.sh:/docker-entrypoint-initdb.d/init-llng-db.sh
      - ./db/init-id-db.sh:/docker-entrypoint-initdb.d/init-id-db.sh
      - ./llng/lmConf-1.json:/llng-conf/conf.json
    environment:
      - POSTGRES_PASSWORD=synapse!!
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready']
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - 5433:5432
    networks:
      - twake_chat

  synapse:
    image: matrixdotorg/synapse:v1.89.0
    container_name: synapse-tom
    volumes:
      - ./synapse-data:/data
      - ./nginx/ssl/ca.pem:/etc/ssl/certs/ca.pem
      - ./nginx/ssl/9da13359.0:/etc/ssl/certs/9da13359.0
    depends_on:
      - auth
    environment: 
      - UID=${MYUID}
      - VIRTUAL_PORT=8008
      - VIRTUAL_HOST=matrix.example.com
    healthcheck:
      test: ["CMD", "curl", "-fSs", "http://localhost:8008/health"]
      interval: 10s
      timeout: 10s
      retries: 3
    networks:
      - twake_chat
    extra_hosts:
      - "host.docker.internal:host-gateway"

  auth:
    image: yadd/lemonldap-ng-portal:2.16.1-bullseye
    volumes:
      - ./llng/lmConf-1.json:/var/lib/lemonldap-ng/conf/lmConf-1.json
      - ./llng/ssl.conf:/etc/nginx/sites-enabled/0000default.conf
      - ./nginx/ssl/auth.example.com.crt:/etc/nginx/ssl/auth.example.com.crt
      - ./nginx/ssl/auth.example.com.key:/etc/nginx/ssl/auth.example.com.key
    environment:
      - PORTAL=https://auth.example.com
      - VIRTUAL_HOST=auth.example.com
      - PG_SERVER=postgresql
    depends_on:
      postgresql:
        condition: service_healthy
    networks:
      - twake_chat

  annuaire:
    image: ldap
    build: ./ldap
    ports:
      - 21390:389
    networks:
      - twake_chat
  
  # opensearchdashboard:
  #   image: opensearchproject/opensearch-dashboards
  #   ports:
  #     - 5601:5601
  #   expose:
  #     - "5601"
  #   environment:
  #     - OPENSEARCH_HOSTS=http://opensearch:9200
  #     - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
  #   networks:
  #     - twake_chat
  
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    container_name: nginx-proxy-tom
    ports:
      - 445:443
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx/ssl:/etc/nginx/certs
    networks:
      twake_chat:
        aliases:
          - matrix.example.com
          - auth.example.com
