global
   user haproxy
   group haproxy
   # lua-load /usr/local/etc/haproxy/synapse_worker_endpoint_indexer.lua
   lua-load /usr/local/etc/haproxy/cors.lua
   log stdout format raw local0 debug

defaults
    log global
    mode http
    option httplog clf
    option dontlognull
    retries 3
    option redispatch
    maxconn 2000

frontend http-in
   bind *:443 ssl crt /etc/ssl/certs/both.pem
   bind *:8448 ssl crt /etc/ssl/certs/both.pem
   http-request lua.cors "GET,PUT,POST,DELETE" "*" "*"
   http-response lua.cors

   acl is_method_get method GET
   acl is_method_put method PUT
   acl is_matrix hdr_end(host) -i matrix.docker.localhost
   acl is_synapse_matrix path_beg -i /_matrix
   acl is_synapse_synapse path_beg -i /_synapse
   acl is_well-known path_beg -i /.well-known/matrix
   acl is_create_room path_beg -i /_matrix/client/v3/createRoom
   acl is_profile_path path_reg ^/_matrix/client/v3/profile/%40([^/]+)(/.*)?$
   acl is_profile_displayname_path path_reg ^/_matrix/client/v3/profile/%40([^/]+)/displayname$
   acl is_profile_avatar_path path_reg ^/_matrix/client/v3/profile/%40([^/]+)/avatar_url$

   # If it's asking for the well_known endpoint
   use_backend tom if is_matrix is_well-known
   # If it's asking for the create room endpoint
   use_backend tom if is_matrix is_create_room
   # Route profile displayname get request to ToM backend
   use_backend tom if is_matrix is_method_get is_profile_path
   # Route profile displayname get/update request to ToM backend
   use_backend tom if is_matrix is_profile_displayname_path
   # Route profile avatar update request to ToM backend
   use_backend tom if is_matrix is_method_put is_profile_avatar_path

   # If asking a synapse endpoint
   #use_backend %[lua.path_to_worker] if is_matrix is_synapse_matrix || is_matrix is_synapse_synapse
   # If not a /_matrix/ call, redirect to main worker
   use_backend matrix if is_matrix

   acl is_tom hdr_end(host) -i tom.docker.localhost
   acl is_tom path_beg -i /_twake
   use_backend tom if is_tom

   acl is_fed hdr_end(host) -i fed.docker.localhost
   use_backend fed if is_fed

    acl is_chat hdr(host) -i chat.docker.localhost

    # If the host is chat.docker.localhost AND the path is exactly '/'
    # Then redirect to https://chat.docker.localhost/web/ with a 301 Permanent Redirect
    http-request redirect location https://chat.docker.localhost/web/ code 301 if is_chat { path eq / }

    # Rule to send traffic for chat.docker.localhost to the chat backend
    use_backend chat if is_chat

   acl is_portal hdr_end(host) -i auth.docker.localhost
   acl is_portal hdr_end(host) -i docker.localhost
   use_backend portal if is_portal

backend portal
   balance roundrobin
   option forwardfor
   http-request set-header X-Forwarded-Proto https
   server node1 auth:80 check
   server node2 auth:80 check
   server node3 auth:80 check

backend matrix
   balance roundrobin
   option forwardfor
   http-request set-header X-Forwarded-Proto https
   server synapse_main synapse:8008 check

backend tom
   balance roundrobin
   option forwardfor
   http-request set-header X-Forwarded-Proto https
   server node1 tom.server:3000 check

backend fed
   balance roundrobin
   option forwardfor
   http-request set-header X-Forwarded-Proto https
   server node1 fed.server:3000 check

backend chat
   balance roundrobin
   option forwardfor
   http-request set-header X-Forwarded-Proto https
   server node1 chat:80 check
