global
   lua-load /usr/local/etc/haproxy/cors.lua
   log stdout format raw local0 debug

defaults
    log global
    mode http
    option httplog clf
    option dontlognull
    retries 3
    option redispatch
    maxconn 2000

frontend http-in
   bind *:443 ssl crt /etc/ssl/certs/both.pem
   bind *:8448 ssl crt /etc/ssl/certs/both.pem
   http-request lua.cors "GET,PUT,POST,DELETE" "*" "*"
   http-response lua.cors

   acl is_method_put method PUT
   acl is_matrix hdr_end(host) -i matrix.docker.localhost
   acl is_synapse_matrix path_beg -i /_matrix
   acl is_synapse_synapse path_beg -i /_synapse
   acl is_well-known path_beg -i /.well-known/matrix
   acl is_create_room path_beg -i /_matrix/client/v3/createRoom
   acl is_profile_displayname_path path_reg ^/_matrix/client/v3/profile/%40([^/]+)/displayname$
   acl is_profile_avatar_path path_reg ^/_matrix/client/v3/profile/%40([^/]+)/avatar_url$

   use_backend tom if is_matrix is_well-known
   use_backend tom if is_matrix is_create_room
   use_backend tom if is_matrix is_method_put is_profile_displayname_path
   use_backend tom if is_matrix is_method_put is_profile_avatar_path

   use_backend matrix if is_matrix

   acl is_tom hdr_end(host) -i tom.docker.localhost
   acl is_tom path_beg -i /_twake
   use_backend tom if is_tom

   acl is_fed hdr_end(host) -i fed.docker.localhost
   use_backend fed if is_fed

    acl is_chat hdr(host) -i chat.docker.localhost
    http-request redirect location https://chat.docker.localhost/web/ code 301 if is_chat { path eq / }
    use_backend chat if is_chat

   acl is_smtp hdr_end(host) -i smtp.docker.localhost
   use_backend smtp if is_smtp

   acl is_portal hdr_end(host) -i auth.docker.localhost
   acl is_portal hdr_end(host) -i docker.localhost
   use_backend portal if is_portal

backend portal
   balance roundrobin
   option forwardfor
   http-request set-header X-Forwarded-Proto https
   server node1 auth:80 check
   server node2 auth:80 check
   server node3 auth:80 check

backend matrix
   balance roundrobin
   option forwardfor
   http-request set-header X-Forwarded-Proto https
   server synapse_main synapse:8008 check

backend tom
   balance roundrobin
   option forwardfor
   http-request set-header X-Forwarded-Proto https
   server node1 tom.server:3000 check

backend fed
   balance roundrobin
   option forwardfor
   http-request set-header X-Forwarded-Proto https
   server node1 fed.server:3000 check

backend chat
   balance roundrobin
   option forwardfor
   http-request set-header X-Forwarded-Proto https
   server node1 chat:80 check

backend smtp
   balance roundrobin
   option forwardfor
   # http-request set-header X-Forwarded-Proto https
   server node1 smtp:8080 check
