services:
  postgresql:
    image: postgres:16-bookworm
    container_name: postgresql
    volumes:
      - ./db/init-llng-db.sh:/docker-entrypoint-initdb.d/init-llng-db.sh:ro
      - ./db/init-synapse-db.sh:/docker-entrypoint-initdb.d/init-synapse-db.sh:ro
      - ./db/init-id-db.sh:/docker-entrypoint-initdb.d/init-id-db.sh:ro
    environment:
      - POSTGRES_PASSWORD=synapse!1
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    # ports:
    #   - 5432:5432
    networks:
      - test

  annuaire:
    image: annuaire
    build: ./ldap
    # ports:
    #   - 389:389
    ulimits:
      nofile:
        soft: "65536"
        hard: "65536"
    networks:
      - test

  auth:
    image: yadd/lemonldap-ng-portal
    volumes:
      - ./llng/lmConf-1.json:/var/lib/lemonldap-ng/conf/lmConf-1.json:ro
      - ./llng/ssl.conf:/etc/nginx/sites-enabled/0000default.conf:ro
      - ./ssl:/etc/nginx/ssl:ro
    depends_on:
      postgresql:
        condition: service_healthy
      annuaire:
        condition: service_started
    environment:
      - SSODOMAIN=example.com
      - PORTAL=https://auth.example.com
      - LOGLEVEL=debug
      - LOGGER=stderr
      - USERLOGGER=stderr
    networks:
      - test

  synapse-federated-identity-service: &synapse_template
    image: matrixdotorg/synapse:v1.119.0
    container_name: synapse-federated-identity-service
    volumes:
      - ./synapse-data:/data
      - ./ssl:/etc/ssl/certs:ro
    depends_on:
      auth:
        condition: service_started
      postgresql:
        condition: service_healthy
      haproxy:
        condition: service_started
    environment:
      - UID=${MYUID}
      - SYNAPSE_CONFIG_PATH=/data/homeserver-federated-identity.yaml
    healthcheck:
      test: ["CMD", "curl", "-fSs", "http://localhost:8008/health"]
      interval: 10s
      timeout: 10s
      retries: 3
    networks:
      - test

  synapse-1:
    <<: *synapse_template
    container_name: synapse-1
    environment:
      - UID=${MYUID}
      - SYNAPSE_CONFIG_PATH=/data/homeserver1.yaml

  synapse-2:
    <<: *synapse_template
    container_name: synapse-2
    environment:
      - UID=${MYUID}
      - SYNAPSE_CONFIG_PATH=/data/homeserver2.yaml

  synapse-3:
    <<: *synapse_template
    container_name: synapse-3
    environment:
      - UID=${MYUID}
      - SYNAPSE_CONFIG_PATH=/data/homeserver3.yaml

  federated-identity-service:
    image: federated-identity-service
    container_name: federated-identity-service
    build:
      context: ../../../..
      dockerfile: ./packages/federated-identity-service/Dockerfile
    volumes:
      - ./federated-identity-service/federated-identity-service.conf:/etc/twake/federated-identity-service.conf:ro
    depends_on:
      annuaire:
        condition: service_started
      postgresql:
        condition: service_healthy
    networks:
      - test

  identity-server-1: &identity-server-template
    image: identity-server
    container_name: identity-server-1
    build:
      context: ../../../..
      dockerfile: ./Dockerfile
    volumes:
      - ./identity-server/conf/identity-server-1.conf:/etc/twake/identity-server.conf:ro
    depends_on:
      annuaire:
        condition: service_started
      postgresql:
        condition: service_healthy
    networks:
      - test

  identity-server-2:
    <<: *identity-server-template
    container_name: identity-server-2
    volumes:
      - ./identity-server/conf/identity-server-2.conf:/etc/twake/identity-server.conf:ro

  identity-server-3:
    <<: *identity-server-template
    container_name: identity-server-3
    volumes:
      - ./identity-server/conf/identity-server-3.conf:/etc/twake/identity-server.conf:ro

  haproxy:
    image: haproxy:lts-alpine
    ports:
      - 443:443
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - ./haproxy/cors.lua:/usr/local/etc/haproxy/cors.lua:ro
      - ./ssl/both.pem:/etc/ssl/certs/both.pem:ro
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0
    depends_on:
      - auth
    #   - synapse-federated-identity-service
    #   - synapse-1
    #   - synapse-2
    #   - synapse-3
    #   - federated-identity-service
    #   - identity-server-1
    #   - identity-server-2
    #   - identity-server-3
    networks:
      test:
        aliases:
          - auth.example.com
          - matrix.example.com
          - matrix1.example.com
          - matrix2.example.com
          - matrix3.example.com
          - federated-identity.example.com
          - identity1.example.com
          - identity2.example.com
          - identity3.example.com

networks:
  test:
    name: test
