.background-animate {
  background-size: 400%;

  -webkit-animation: gradient-bg 10s ease infinite;
  -moz-animation: gradient-bg 10s ease infinite;
  animation: gradient-bg 10s ease infinite;
}

@keyframes gradient-bg {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}
