name: pr

on:
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  test:
    name: Build And Test
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit
  analyze:
    name: CodeQL
    uses: ./.github/workflows/codeql.yml
    secrets: inherit
  lint:
    name: DevSkim
    uses: ./.github/workflows/devskim.yml
    secrets: inherit
  njsscan: 
    name: njsscan
    uses: ./.github/workflows/njsscan.yml
    secrets: inherit
